project/lib_managed/
project/boot/
build/
lib/digi*
.scala_dependencies
AndroidManifest.xml.*
*.sbt
*.svn*
.classpath
.project
.cache
.manager
*.class
.svnignore
.gitignore
target*
.settings
*.iml
.idea
*.ipr
*.iws
out/*
classes/*
classes-extra/*
classes-hotfix/*
classes-tests/*
infinitest.settings
build.properties
data/*
bin/*
gen/*
project/*
target/*
specs/bin/*
specs/saved reports/*
lift/*
*/.idea/*
*ErrorLogs/
*RecentChanges/
junit*
/log_errors.log
/log_info.log
assets/armeabi/*

# use glob syntax.
syntax: glob
*.ser
*.class
*~
*.bak
#*.off
*.old

# eclipse conf file
.settings
.classpath
.project
.manager
.scala_dependencies

# idea
.idea
*.iml

# building
target
build
null
tmp*
temp*
dist
test-output
build.log
src/jni/dropbear/*
src/libs/*
src/obj/*

# other scm
.svn
.CVS
.hg*

# switch to regexp syntax.
#  syntax: regexp
#  ^\.pc/

#SHITTY output not in target directory
build.log
