<?xml version="1.0" encoding="utf-8"?>
<!--
 ~ DigiSSHD - DigiControl component for Android Platform
 ~ Copyright (c) 2012, Alexey Aksenov ezh@ezh.msk.ru. All rights reserved.
 ~ DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS FILE HEADER.
 ~
 ~ This code is free software; you can redistribute it and/or modify it
 ~ under the terms of the GNU General Public License version 3 or any later
 ~ version, as published by the Free Software Foundation.
 ~
 ~ This code is distributed in the hope that it will be useful, but WITHOUT
 ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 ~ FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License
 ~ version 3 for more details (a copy is included in the LICENSE file that
 ~ accompanied this code).
 ~
 ~ You should have received a copy of the GNU General Public License version
 ~ 3 along with this work; if not, write to the Free Software Foundation,
 ~ Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA.
 ~
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.digimead.digi.ctrl.sshd"
    android:installLocation="preferExternal"
    android:versionCode="1346792252"
    android:versionName="0.3" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="16" />

    <uses-permission android:name="org.digimead.digi.ctrl" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REMOVED" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" android:name=".SSHDApplication">
        <activity
            android:name=".SSHDActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Sherlock.ForceOverflow"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.digimead.digi.ctrl.component.activity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name=".SSHDService" >
            <intent-filter>
                <action android:name="org.digimead.digi.ctrl.component.service" />
            </intent-filter>
        </service>

        <provider
            android:name=".SSHDHelpProvider"
            android:authorities="org.digimead.digi.ctrl.sshd.help"
            android:enabled="true"
            android:exported="false" >
        </provider>

        <uses-library
            android:name="scala.actors"
            android:required="true" />
        <uses-library
            android:name="scala.library"
            android:required="true" />
        <uses-library
            android:name="scala.collection"
            android:required="true" />
        <uses-library
            android:name="scala.collection.mutable"
            android:required="true" />
        <uses-library
            android:name="scala.collection.immutable"
            android:required="true" />
        <uses-library
            android:name="slf4j-api-1.6.4"
            android:required="true" />
        <uses-library
            android:name="CWAC-MergeAdapter"
            android:required="true" />
        <uses-library
            android:name="CWAC-SackOfViewsAdapter"
            android:required="true" />
        <uses-library
            android:name="actionbarsherlock"
            android:required="true" />
        <uses-library
            android:name="android-support-v4"
            android:required="true" />
        <uses-library
            android:name="aspectjrt-1.6.12"
            android:required="true" />
        <uses-library
            android:name="stopwatch-core_2.8.2-1.0-SNAPSHOT"
            android:required="true" />
        <uses-library
            android:name="digi-lib-0.2-instrumented"
            android:required="true" />
        <uses-library
            android:name="digi-lib-ctrl-0.2-instrumented"
            android:required="true" />
        <uses-library
            android:name="digi-lib-opengl-0.2-instrumented"
            android:required="true" />
        <uses-library
            android:name="digi-lib-util-0.2-instrumented"
            android:required="true" />
    </application>

</manifest>