-keep public class scala.Function0
-keep public class scala.Function1
-keep public class scala.Function2
-keep public class scala.Tuple2
-keep public class scala.actors.AbstractActor
-keep public class scala.actors.MQueue
-keep public class scala.actors.OutputChannel
-keep public class scala.collection.immutable.List
-keep public class scala.Enumeration$Value
-keep public class scala.Option
-keep public class scala.PartialFunction
-keep public class scala.ref.WeakReference
-keep public class scala.collection.immutable.**
-keep public class scala.actors.**
-keep public class scala.collection.immutable.StringLike
-keep public class scala.actors.IScheduler

-optimizationpasses 5
-dontusemixedcaseclassnames
-dontskipnonpubliclibraryclasses
-dontpreverify
-verbose
-optimizations !code/simplification/arithmetic,!field/*,!class/merging/*

-keep public class * extends android.app.Activity
-keep public class * extends android.app.Application
-keep public class * extends android.app.Service
-keep public class * extends android.content.BroadcastReceiver
-keep public class * extends android.content.ContentProvider
-keep public class * extends android.app.backup.BackupAgentHelper
-keep public class * extends android.preference.Preference
-keep public class com.android.vending.licensing.ILicensingService

-dontnote android.app.backup.BackupAgentHelper
-dontnote com.android.vending.licensing.ILicensingService

-keepclasseswithmembernames class * {
    native <methods>;
}

-keepclasseswithmembers class * {
    public <init>(android.content.Context, android.util.AttributeSet);
}

-keepclasseswithmembers class * {
    public <init>(android.content.Context, android.util.AttributeSet, int);
}

-keepclassmembers class * extends android.app.Activity {
   public void *(android.view.View);
}

-keepclassmembers enum * {
    public static **[] values();
    public static ** valueOf(java.lang.String);
}

-keep class * implements android.os.Parcelable {
  public static final android.os.Parcelable$Creator *;
}

##############################################################################
## Scala specific settings

-dontwarn **$$anonfun$*
-dontwarn scala.android.**
-dontwarn scala.collection.generic.GenTraversableFactory
-dontwarn scala.collection.immutable.RedBlack$Empty
-dontwarn scala.concurrent.forkjoin.**
-dontwarn scala.concurrent.forkjoin.LinkedTransferQueue*
-dontwarn scala.reflect.ScalaBeanInfo*
-dontwarn scala.sys.process.**
-dontwarn scala.tools.**,plugintemplate.**

#(org.xml.sax.EntityResolver)Class.forName(variable).newInstance()
-dontnote org.xml.sax.EntityResolver

#(org.apache.james.mime4j.storage.StorageProvider)Class.forName(variable).newInstance()
-dontnote org.apache.james.mime4j.storage.DefaultStorageProvider

-dontnote scala.android.app.Activity

-keep public class * extends scala.android.app.Activity

-keepclassmembers class * {
    ** MODULE$;
}

-keep class scala.runtime.*MethodCache

-keepclassmembernames class scala.runtime.*MethodCache {
    <methods>;
}

-keepnames class * implements java.io.Serializable

-keepclassmembers class * implements java.io.Serializable {
    static final long serialVersionUID;
    private static final java.io.ObjectStreamField[] serialPersistentFields;
    !static !transient <fields>;
    !private <fields>;
    !private <methods>;
    private void writeObject(java.io.ObjectOutputStream);
    private void readObject(java.io.ObjectInputStream);
    java.lang.Object writeReplace();
    java.lang.Object readResolve();
}
